@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

h1 {
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: "Reddit Mono";
}

body {
    background-color: white;
}

#main {
    width: 600px;
    background-color: white;
}

#pfp {
    border-radius: 30px;
}